################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tour of Heroes API/Tour of Heroes/Tour of Heroes DB/bin/Debug/TourofHeroes.db.dacpac
/Tour of Heroes API/Tour of Heroes/Tour of Heroes DB/obj/Debug/Model.xml
/Tour of Heroes API/Tour of Heroes/Tour of Heroes DB/obj/Debug/TourofHeroes.db.sqlproj.FileListAbsolute.txt
/Tour of Heroes API/Tour of Heroes/Tour of Heroes DB/obj/Debug/TourofHeroes.db.sqlprojAssemblyReference.cache
/Tour of Heroes API/Tour of Heroes/Tour of Heroes DB/TourofHeroes.db.dbmdl
/Tour of Heroes API/Tour of Heroes/.vs/*
/Tour of Heroes API/Tour of Heroes/Tour of Heroes/bin/*
/Tour of Heroes API/Tour of Heroes/Tour of Heroes/obj/*
/Tour of Heroes API/Tour of Heroes/Tour of Heroes DB/*